/*                                                                      
            Obra de Guadalajara : www.obradeguadalajara.com.mx          
                          Some Rights Reserved                          
                        Creative Commons License                        
       Atribución-No comercial-Licenciamiento Recíproco 2.5 México      
                                                                      */

#NavBar,
#VideoSample,
#Title
{
    background-color: #F3F3F3;
}


#BiblicalDate,
#Footer,
#HeadLogo
{
    background-color: #CCCCCC;
}

#page{
    background-color:#FFFFFF;
}

.spacebefore_2{
    padding-left:105px;
}
