/*                                                                      
            Obra de Guadalajara : www.obradeguadalajara.mx              
                          Some Rights Reserved                          
                        Creative Commons License                        
       Atribución-No comercial-Licenciamiento Recíproco 2.5 México      
                                                                      */

body {
   /*
    background: url(../images/nebula.png) repeat-x scroll 0 0;
*/
}

html, body{
    margin:0;
    padding:0;
}
body{
    width:100%;
}

/*    Header    */
.HeaderBand{
    height:80px;
    background-color:rgba(19,107,178,.5);
}
.Header{
    -moz-border-radius:6px 6px 6px 6px;
    -moz-box-shadow:2px 2px 2px #999999;
    height:88px;
    margin:auto;
    background:url(../images/bg_header.jpg);
    padding:5px;
}
    .HeadLogo{
        text-align:center;
        height:90px;
        float:right;
        width:20%;
        background-color:rgba(,,f,.8);
    }
        .Logo{
            margin:auto;
        }
    .Title{
        width:80%;
        height:100%;
        float:left;
    }
        .Title > h1{
            margin-bottom:0;
        }
        .Title > h3{
            margin-top:0;
            margin-right:auto;
        }

.BodyBand{
    height:100%;

}
.SubHeader{
    height:180px;
    margin:auto;
}
    .SubHeader > .RLColumns{
        width:100%;
        height:180px;
        margin-left: auto;
        margin-right: auto;
    }
    .RLColumns > .LeftColumn{
        width:65%;
        height:180px;
        float:left;
        margin-left: auto;
    }
    .LeftColumn > .BiblicalDate{
        width:98%;
        height:100%;
        padding:1% 1% 1% 1%;
        font-style:italic;
    }

    .RLColumns > .RightColumn{
        width:30%;
        height:180px;
        float:right;
    }
    .RightColumn > .Video{
        height:100%;
        float:right;
        width:100%;
        height:100%;
    }

    .VideoSample{
        margin-left: auto;
        width:100%;
        height:100%;
        background-color:rgb(80,00,80);
        -moz-border-radius:6px 6px 6px 6px;
        -moz-box-shadow:2px 2px 2px #999999;
    }

.NavigationBar{
    height:296px;
    width:96px;
    float:left;
    left:0;
    position:fixed;
    padding: 2px 2px 2px 2px;
}

.ContentBody{
    padding:20px 10px 20px 10px;
    float:left;
    width:570px;
    height:410px;
}
.Footer{
    height:31px;
}
.FooterBlock{
    padding:5px 10px 5px 10px;
    text-align:right;
}
.FooterContent{
    padding:5px 10px 5px 10px;
    text-align:right;
}

/*
+ --------------- +
    Main staff     
+ --------------- +
*/
.SpaceSmall{
    height:10px;
    background-color:rgba(0,0,0,0);
}
.SpaceMedium{
    height:20px;
    background-color:rgba(0,0,0,0);
}
.SpaceBig{
    height:40px;
    background-color:rgba(0,0,0,0);
}

.H1{
    margin:0;
    font-size:big;
    text-shadow:0 1px 0 #FFFFFF;
    color:#333333;
}

.H2{
    font-size:medium;
    color:#FF9900;
    margin-bottom:5px;
}

.H3{
    font-size:small;
    color:#FFFFFF;
    text-shadow:0 1px 0 #333333;
}

.Text1{
    width:100%;
    font-size:medium;
    text-align:justify;
    color:#333333;
    margin:0;
    margin-bottom:5px;
}

.MWidth{
    width:80%;
}

.MLeft{
    width:90px;
    padding:0 10px 0 0;
    background-color:rgba(0,0,0,0);
    float:left;
}
.MRight{
    width:284px;
    background-color:rgba(0,0,0,0);
    float:right;
}

.FootNote{
    font-size:small;
    font-style:italic;
    margin-top:2px;
    width:100%;
    margin-left:auto;
    text-align:right;
    color:#333333;
}
.Block{
    left:10%;
    right:10%;
    width:80%;
}

   /*
    Several Staff
*/
.W100PC{
 width:100%;
}

/*

h1 {
 color: #00;
 opacity: .4;
 font-size:x-large;
 color:#DEDEDE;
 text-decoration:none;
 text-shadow:1px 1px 0 #111111;
 text-transform:uppercase;
*/
}
