/*                                                                      
            Obra de Guadalajara : www.obradeguadalajara.com.mx          
                          Some Rights Reserved                          
                        Creative Commons License                        
       Atribución-No comercial-Licenciamiento Recíproco 2.5 México      
                                                                      */

/*--------------------------
        General Stuff
--------------------------*/

/* Reset styles
---------------------------------------------------------------------------*/

ul,
li{
    list-style:none;
}

/* Reset margin and padding */

li,
p,
h1,
h2,
h3{
    margin:0;
    padding:0px;
}

/* Set Initial Margin and Padding
------------------------------------------------------------------------------*/

/* Padding */
#Header,
#SubHeader,
#SideBar,
#Content,
#Footer{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Set Padding 5px*/
#Logo,
p,
h1,
h2,
h3{
    padding: 5px;
}

#Sidebar {
    position:fixed;
}

/* Set Height
------------------------------------------------------------------------------*/

/* Header */
#HeadLogo{
    margin-top:-5px;
    height:150px;
}
#Header{
    text-align:center;
    height:95px;
}



