/*
            Obra de Guadalajara : www.obradeguadalajara.mx
                          Some Rights Reserved
                        Creative Commons License
       Atribución-No comercial-Licenciamiento Recíproco 2.5 México
                                                                      */

@import 'reset.css';
@import '../fonts/ExistenceLight/stylesheet.css';
@import '../fonts/Amaranth/stylesheet.css';

.hidden {
    display: none;
}

body {
    font-family: AmaranthRegular;
    background-color: #f3f3f3;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: ExistenceLight;
    font-weight: bold;
}
h1 {
    font-size: 28px;
    margin: 10px 0;
}
h2 {
    font-size: 22px;
    margin: 8px 0;
}
h3 {
    font-size: 18px;
    margin: 6px 0;
}
h4 {
    font-size: 16px;
    margin: 4px 0;
}

body header {
    width: 80%;
    padding: 60px 10%;
}

body header h1 {
    font-size: 42px;
}

body #content {
    border: 1px solid #b4b4b4;
    border-left: none;
    border-right: none;
    min-width: 50px;
    min-height: 50px;
    display: block;
    margin: 40px 0 10px 0;
    padding: 20px 0;
}

body header h1, body header h2 {
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

body header h2 {
    text-align: right;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 35px;
}

/* home */
body.home {
    padding: 0;
    margin: auto;
}

body.home #content div.audio-preaching {
    margin: 10px auto;
    width: 400px;
    box-shadow: 1px 1px 20px #c3c3c3;
    padding: 20px;
    border: 1px solid #c3c3c3;
}

body.home #content div.audio-preaching p.audio-monitor {
    font-family: AmaranthItalic;
    display: block;
    text-align: center;
    margin-top: 10px;
}

body.home #content div.audio-preaching h3 {
    text-align: center;
}

body.home p.audio-notification {
    color: #000;
    width: 400px;
    margin: auto;
    border: 3px solid #A65500;
    padding: 10px;
}

body.home #audio-player {
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
    position: relative;
    top: -10px;
    width: 100%;
    margin-bottom: 10px;
}

body.home ul#preaching-list {
    overflow: auto;
    border: 1px solid #c3c3c3;
    width: 96%;
    padding: 2%;
    margin: 5px 0;
    display: inline-block;
    height: 122px; /* 5 elements visible*/
    overflow: scroll;
}

body.home ul#preaching-list li {
    display: block;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

body.home ul#preaching-list li a {
    width: 98%;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
}

body.home ul#preaching-list li.active {
    background-color: #404040;
}

body.home ul#preaching-list li.active a{
    color: #FFF;
}

body.home ul#preaching-list li a:hover {
    background-color: #555;
    color: #FFF;
}

body.home ul#preaching-list li a span.date {
    width: 35%;
    display: inline-block;
}

body.home ul#preaching-list li a span.title {
    width: 60%;
    padding-left: 5%;
    border-left: 1px solid #b9b9b9;
}

body.home footer div.address img.logo, body.home footer div.address p {
    width: 50px;
    height: 50px;
    float: left;
    display: inline-block;
}

body.home footer {
    overflow: auto;
    padding: 0 15px;
}

body.home footer div.address p {
    width: auto;
    padding-top: 10px;
}