/*
            Obra de Guadalajara : www.obradeguadalajara.mx
                          Some Rights Reserved
                        Creative Commons License
       Atribución-No comercial-Licenciamiento Recíproco 2.5 México
                                                                      */

@import 'reset.css';
@import 'social-icons.css';
@import '../fonts/Exo/stylesheet.css';
@import '../fonts/ExistenceLight/stylesheet.css';
@import '../fonts/Amaranth/stylesheet.css';

.hidden {
    display: none;
}
body {
    font-family: AmaranthRegular;
    background-color: #f3f3f3;
    text-align: center;
    background-image: url('../images/squairy_light.png');
}
body > div.content {
    width: 1024px;
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: ExoBold;
    font-weight: normal;
}
h1 {
    font-size: 28px;
    margin: 10px 0;
}
h2 {
    font-size: 22px;
    margin: 8px 0;
}
h3 {
    font-size: 18px;
    margin: 6px 0;
}
h4 {
    font-size: 16px;
    margin: 4px 0;
}


/* ------------------------------------------------------------------------ */
/* Generic Modules                                                          */
/* ------------------------------------------------------------------------ */

/* --------------- */
/*  Notifications  */
/* --------------- */

div#page-notifications {
    /*min-width: 512px;*/
    overflow: auto;
    position: absolute;
    left: 262px;
    width: 50%;
}

div#page-notifications div.notification {
    padding: 0;
    padding-left: 10px;
    margin: 10px;
    border: 1px solid #b9b9b9;
    box-shadow: 1px 1px 5px #b9b9b9;
}

div#page-notifications div.notification.info {
    background-color: #FFF;
}

div#page-notifications div.notification.success {
    background-color: #FFA200;
}

div#page-notifications div.notification.warning {
    background-color: #FF5900;
}

div#page-notifications div.notification.error {
    background-color: #FF0000;
}

div#page-notifications div.notification a.close-button,
div#page-notifications div.notification p {
    margin: 5px;
    display: inline-block;
}

div#page-notifications div.notification a.close-button {
    text-decoration: none;
    font-size: 20px;
    padding: 4px 6px;
    line-height: 15px;
    border: 1px solid #b9b9b9;
    cursor: pointer;
}

/* --------------- */
/* Header          */
/* --------------- */

body header {
    background-image: url(../images/logo_noname_500x469.png);
    background-position: 0px 2px;
    background-size: 280px;
    background-repeat: no-repeat;
    background-color: #4A2A82;
    font-family: ExistenceLight;
    color: #FFF;
    box-shadow: 1px 1px 14px #000;
}

body header h1, body header h2 {
    font-family: ExoRegular;
}

body header h1 {
    font-size: 42px;
    text-shadow: 1px 1px 23px;
    text-transform: capitalize;
    text-align: right;
}

body header:hover h1, body header:hover h2, body header:hover {
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}

body header h1, body header h2, div.social-icons, p.intro {
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    text-align: right;
}

body header p.intro {
    margin-top: 20px;
    line-height: 22px;
}

/* --------------- */
/* Social Icons    */
/* --------------- */

div.social-icons {
    /*min-width: 44px;*/
    position: relative;
    margin: 10px auto 0;
    text-align: right;
    right: -9px;
}

div.social-icons .icon {
    background-color: #FFF;
    border-radius: 5px;
    margin: 0 10px;
}

/* --------------- */
/* Content         */
/* --------------- */

body #content {
    border: 1px solid #b4b4b4;
    border-left: none;
    border-right: none;
    display: block;
}

/* --------------- */
/* Footer          */
/* --------------- */

body footer {
    font-family: ExoExtraLight;
    box-shadow: 0 1px 0 #999;
    border: none;
    border-top: 1px solid #fff;
    position: static;
    bottom: 0;
    text-align: center;
    color: #777;
    text-shadow: 1px 1px 2px #fff;
}

body footer div.info {
    margin: auto;
    display: inline-block;
    width: 59%;
    padding-right: 10px;
    height: auto;
    text-align: center;
    float: left;
}

body footer div.info p.service,
body footer div.info p.address {
    width: 100%;
}
body footer div.info p.service,
body footer div.info p.address {
    display: inline-block;
    float: left;
}
body footer div.info p.address {
    margin-top: 15px;
    display: inline-block;
    float: left;
}

body footer div.info p span {
    display: block;
}

body footer a.map-link {
    margin-left: 10px;
    color: #222;
    text-shadow: 1px 2px 2px #fff;
    text-decoration: none;
    width: 166px;
    height: 151px;
    display: inline-block;
    background-image: url('../images/map.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid #b9b9b9;
}

/* ------------------------------------------------------------------------ */
/* Layout                                                                   */
/* ------------------------------------------------------------------------ */

body, body #content {
    /*min-width: 1024px;*/
}

body header, body #content, body footer {
    margin: auto;
    padding: 36px 235px;
    /*min-width: 554px;*/
    min-height: 200px;
}

body #content {
    padding: 20px 0;
}

body footer {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100px;
}

/* ------------------------------------------------------------------------ */
/* Specific Pages                                                           */
/* ------------------------------------------------------------------------ */

/* --------------- */
/* Index Page      */
/* --------------- */

body.index .warning {
    border: 1px solid #999;
    display: block;
    margin: 10px auto;
    width: 554px;
    padding: 10px;
    padding-left: 136px;
    background-image: url('../images/exclamation.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 15px 26px;
}

body.index .warning p {
    font-size: 24px;
    padding: 8px;
    text-shadow: 1px 2px 1px #fff;
}

body.index .warning p a {
    text-decoration: none;
}

body.index div.warning p a:hover {
    color: #FF0000;
}

body.index div.warning p a.hidden-link {
    color: #000;
    cursor: text;
}

/* --------------- */
/* Home Page       */
/* --------------- */

body.home {
    padding: 0;
    margin: auto;
}

body.home #content div.audio-preaching {
    margin: 10px auto;
    width: 400px;
    box-shadow: 1px 1px 20px #c3c3c3;
    padding: 20px;
    border: 1px solid #c3c3c3;
}

body.home #content div.audio-preaching p.audio-monitor {
    font-family: AmaranthItalic;
    display: block;
    text-align: center;
    margin-top: 10px;
}

body.home #content div.audio-preaching h3 {
    text-align: center;
}

body.home p.audio-notification {
    color: #000;
    width: 400px;
    margin: auto;
    border: 3px solid #A65500;
    padding: 10px;
}

body.home #audio-player {
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
    position: relative;
    top: -10px;
    width: 100%;
    margin-bottom: 10px;
}

body.home ul#preaching-list {
    overflow: auto;
    border: 1px solid #c3c3c3;
    width: 96%;
    padding: 2%;
    margin: 5px 0;
    display: inline-block;
    height: 122px; /* 5 elements visible*/
    overflow: scroll;
}

body.home ul#preaching-list li {
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

body.home ul#preaching-list li a {
    width: 98%;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
}

body.home ul#preaching-list li.active {
    background-color: #404040;
}

body.home ul#preaching-list li.active a{
    color: #FFF;
}

body.home ul#preaching-list li a:hover {
    background-color: #555;
    color: #FFF;
}

body.home ul#preaching-list li a span.date {
    width: 35%;
    display: inline-block;
}

body.home ul#preaching-list li a span.title {
    width: 60%;
    padding-left: 5%;
    border-left: 1px solid #b9b9b9;
}
